.transictionArea {
    display: none;
}

.diposit {
    background-color: slateblue;
}

.status {
    padding: 30px;
    margin: 0 40px;
}

.withdraw {
    background: lightsalmon;
}

.balance {
    background: tomato;
}